<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="https://kit.fontawesome.com/f08ee55cc8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/style.css">
  <script async src="/Shared/Navbar/navbar.js"></script>
  <link rel="shortcut icon" href="/Assets/favicon.ico" type="image/x-icon">
  <title>Cart | SM</title>
</head>

<body>
  <nav class="pos-sticky-t0 z-1">
    <div class="nav pos-rel">
      <a class="link flex-row align-center" href="/">
        <h1 class="nav-heading primary-text">Swift Merch</h1>
      </a>
      <ul class="ml-auto list-style-none nav-menu">
        <div class="nav-search-bar">
          <input type="search" name="search" id="search-products" class="nav-search-input"
            placeholder="search products">
          <button class="nav-search-btn">
            <i class="fa fa-search"></i>
          </button>
        </div>

        <div class="pos-rel">
          <a href="#" class="link nav-dropdown-link">
            <li class="nav-link desktop-nav">Account</li>
            <li class="fas fa-user icon small-icon nav-dropdown-link mobile-nav"></li>
          </a>
          <div class="nav-dropdown pos-abs">
            <ul class="list-style-none">
              <a href="/Components/login.html" class="link">
                <li class="nav-dropdown-item">Profile</li>
              </a>
              <a href="/Components/login.html" class="link">
                <li class="nav-dropdown-item">Login</li>
              </a>
              <a href="/Components/login.html" class="link">
                <li class="nav-dropdown-item">Logout</li>
              </a>
            </ul>
          </div>
        </div>
        <a href="/Components/wishlist.html" class="link">
          <li class="nav-link desktop-nav">Wishlist</li>
          <li class="fa fa-heart icon small-icon mobile-nav"></li>
        </a>
        <a href="/Components/cart.html" class="link">
          <li class="nav-link desktop-nav">Cart</li>
          <li class="fas fa-shopping-cart icon small-icon mobile-nav"></li>
        </a>
      </ul>
    </div>
  </nav>

  <main class="my-3-5 w-100p">
    <h1 class="center-text">My Cart</h1>
    <div class="grid-2-col m-1 pos-rel">
      <div class="cart-items">

        <div class="card m-1 mw-28r p-0-5">
          <h3 class="m-0-5">Deliver To: Shraddha Gupta</h3>
          <p class="mx-0-5">509 Baldeo Apartment, Queta Colony, New Ring Road, Nagpur - 440030</p>
          <button class="btn btn-solid-secondary m-0-5">Change</button>
        </div>

        <div class="card horizontal-card pos-rel">
          <div class="pos-rel flex-row align-center horizontal-card-img">
            <img src="/Assets/Hoodies/hoodie5.png" alt="cd-img" class="card-img responsive-img">
          </div>
          <i class="fas fa-trash-alt product-remove-icon icon pos-abs"></i>
          <div class="horizontal-card-text">
            <div class="m-0-25 mt-0-5">
              <h3 class="m-0-25">Stark Light Blue Hoodie</h3>
              <p class="sm-text mx-0-25">by Kurt Wagner</p>
              <h4 class=" m-0-25">Rs. 500
                <span class="text-line-through text-light-weight">Rs. 750</span>
                <span class="primary-text"> 66% Off</span>
              </h4>
              <div class="product-qty">
                <button class="fa fa-minus icon icon-btn"></button>
                <span class="product-qty-value">1</span>
                <button class="fa fa-plus icon icon-btn"></button>
              </div>
            </div>
            <div class="flex-row">
              <button class="btn btn-outline-secondary m-0-5 w-100p">
                Move To Wishlist
              </button>
            </div>
          </div>
        </div>

        <div class="card horizontal-card pos-rel">
          <div class="pos-rel flex-row align-center horizontal-card-img">
            <img src="/Assets/Hoodies/hoodie2.png" alt="cd-img" class="card-img responsive-img">
          </div>
          <i class="fas fa-trash-alt product-remove-icon icon pos-abs"></i>
          <div class="horizontal-card-text">
            <div class="m-0-25 mt-0-5">
              <h3 class="m-0-25">Stark Light Blue Hoodie</h3>
              <p class="sm-text mx-0-25">by Kurt Wagner</p>
              <h4 class=" m-0-25">Rs. 500
                <span class="text-line-through text-light-weight">Rs. 750</span>
                <span class="primary-text"> 66% Off</span>
              </h4>
              <div class="product-qty">
                <button class="fa fa-minus icon icon-btn"></button>
                <span class="product-qty-value">1</span>
                <button class="fa fa-plus icon icon-btn"></button>
              </div>
            </div>
            <div class="flex-row">
              <button class="btn btn-outline-secondary m-0-5 w-100p">
                Move To Wishlist
              </button>
            </div>
          </div>
        </div>

        <div class="card horizontal-card pos-rel">
          <div class="pos-rel flex-row align-center horizontal-card-img">
            <img src="/Assets/Hoodies/hoodie3.png" alt="cd-img" class="card-img responsive-img">
          </div>
          <i class="fas fa-trash-alt product-remove-icon icon pos-abs"></i>
          <div class="horizontal-card-text">
            <div class="m-0-25 mt-0-5">
              <h3 class="m-0-25">Stark Light Blue Hoodie</h3>
              <p class="sm-text mx-0-25">by Kurt Wagner</p>
              <h4 class=" m-0-25">Rs. 500
                <span class="text-line-through text-light-weight">Rs. 750</span>
                <span class="primary-text"> 66% Off</span>
              </h4>
              <div class="product-qty">
                <button class="fa fa-minus icon icon-btn"></button>
                <span class="product-qty-value">1</span>
                <button class="fa fa-plus icon icon-btn"></button>
              </div>
            </div>
            <div class="flex-row">
              <button class="btn btn-outline-secondary m-0-5 w-100p">
                Move To Wishlist
              </button>
            </div>
          </div>
        </div>



        <div class="card horizontal-card pos-rel">
          <div class="pos-rel flex-row align-center horizontal-card-img">
            <img src="/Assets/Hoodies/hoodie4.png" alt="cd-img" class="card-img responsive-img">
          </div>
          <i class="fas fa-trash-alt product-remove-icon icon pos-abs"></i>
          <div class="horizontal-card-text">
            <div class="m-0-25 mt-0-5">
              <h3 class="m-0-25">Stark Light Blue Hoodie</h3>
              <p class="sm-text mx-0-25">by Kurt Wagner</p>
              <h4 class=" m-0-25">Rs. 500
                <span class="text-line-through text-light-weight">Rs. 750</span>
                <span class="primary-text"> 66% Off</span>
              </h4>
              <div class="product-qty">
                <button class="fa fa-minus icon icon-btn"></button>
                <span class="product-qty-value">1</span>
                <button class="fa fa-plus icon icon-btn"></button>
              </div>
            </div>
            <div class="flex-row">
              <button class="btn btn-outline-secondary m-0-5 w-100p">
                Move To Wishlist
              </button>
            </div>
          </div>
        </div>


        <div class="card horizontal-card pos-rel">
          <div class="pos-rel flex-row align-center horizontal-card-img">
            <img src="/Assets/Hoodies/hoodie6.png" alt="cd-img" class="card-img responsive-img">
          </div>
          <i class="fas fa-trash-alt product-remove-icon icon pos-abs"></i>
          <div class="horizontal-card-text">
            <div class="m-0-25 mt-0-5">
              <h3 class="m-0-25">Stark Light Blue Hoodie</h3>
              <p class="sm-text mx-0-25">by Kurt Wagner</p>
              <h4 class=" m-0-25">Rs. 500
                <span class="text-line-through text-light-weight">Rs. 750</span>
                <span class="primary-text"> 66% Off</span>
              </h4>
              <div class="product-qty">
                <button class="fa fa-minus icon icon-btn"></button>
                <span class="product-qty-value">1</span>
                <button class="fa fa-plus icon icon-btn"></button>
              </div>
            </div>
            <div class="flex-row">
              <button class="btn btn-outline-secondary m-0-5 w-100p">
                Move To Wishlist
              </button>
            </div>
          </div>
        </div>

      </div>


      <div class="m-1 cart-price-details">
        <p class="mb-0-5">COUPON : </p>
        <button class="btn btn-outline-secondary w-100p my-0-5">
          Apply Coupon
          <i class="fas fa-tag"></i>
        </button>
        <p class="my-1">PRICE DETAILS : </p>
        <div class="my-0-5">
          <div class="flex-row justify-spc-bet my-1">
            <p>Total MRP (5 Items) </p>
            <p>&#8377;2500</p>
          </div>
          <div class="flex-row justify-spc-bet my-1">
            <p>Discount on MRP </p>
            <p class="green-text">- &#8377;499</p>
          </div>
          <div class="flex-row justify-spc-bet my-1">
            <p>Coupon Discount </p>
            <p class="green-text">- &#8377;100</p>
          </div>
          <div class="flex-row justify-spc-bet my-1-5 cart-total-amt">
            <p class="text-bold-weight">Total Amount </p>
            <p class="text-bold-weight">&#8377;1901</p>
          </div>
        </div>
        <a href="#" class="link">
          <button class="btn btn-solid-primary w-100p my-0-5">Proceed To Checkout</button>
        </a>

      </div>
    </div>
  </main>
</body>

</html>