<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="https://kit.fontawesome.com/f08ee55cc8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/style.css">
  <script defer src="/Shared/Navbar/navbar.js"></script>
  <title>Wishlist | SM</title>
</head>

<body>
  <nav class="pos-sticky-t0 z-1">
    <div class="nav pos-rel">
      <a class="link flex-row align-center" href="/">
        <h1 class="nav-heading primary-text">Swift Merch</h1>
      </a>
      <ul class="ml-auto list-style-none nav-menu">
        <div class="nav-search-bar">
          <input type="search" name="search" id="search-products" class="nav-search-input"
            placeholder="search products">
          <button class="nav-search-btn">
            <i class="fa fa-search"></i>
          </button>
        </div>

        <div class="pos-rel">
          <a href="#" class="link nav-dropdown-link">
            <li class="nav-link desktop-nav">Account</li>
            <li class="fas fa-user icon small-icon nav-dropdown-link mobile-nav"></li>
          </a>
          <div class="nav-dropdown pos-abs">
            <ul class="list-style-none">
              <a href="/Components/login.html" class="link">
                <li class="nav-dropdown-item">Profile</li>
              </a>
              <a href="/Components/login.html" class="link">
                <li class="nav-dropdown-item">Login</li>
              </a>
              <a href="/Components/login.html" class="link">
                <li class="nav-dropdown-item">Logout</li>
              </a>
            </ul>
          </div>
        </div>
        <a href="/Components/wishlist.html" class="link">
          <li class="nav-link desktop-nav">Wishlist</li>
          <li class="fa fa-heart icon small-icon mobile-nav"></li>
        </a>
        <a href="/Components/cart.html" class="link">
          <li class="nav-link desktop-nav">Cart</li>
          <li class="fas fa-shopping-cart icon small-icon mobile-nav"></li>
        </a>
      </ul>
    </div>
  </nav>

  <main class="my-3-5 w-100p">
    <h1 class="center-text">My Wishlist</h1>
    <div class="grid-3-col-layout gap-0-5">


      <div class="card m-1 mw-16r">
        <div class="pos-rel">
          <span class="pos-abs card-badge-right square-badge sm-text">New</span>
          <i class="fa fa-times pos-abs card-badge-left icon small-icon"></i>
          <img src="/Assets/Hoodies/hoodie2.png" alt="cd-img" class="card-img responsive-img">
        </div>
        <div class="flex-col gap-0-25 m-0-5">
          <h3>Stark Light Blue Hoodie</h3>
          <p class="sm-text">by Kurt Wagner</p>
          <h4>Rs. 500 <span class="text-line-through text-light-weight">Rs. 750</span><span class="primary-text">
              66% Off</span>
          </h4>
        </div>
        <div class="flex-row">
          <button class="btn btn-solid-primary w-100p m-0-5">
            <i class="fas fa-shopping-cart mr-0-25"></i>
            Move To Cart
          </button>
        </div>
      </div>

      <div class="card m-1 mw-16r">
        <div class="pos-rel">
          <i class="fa fa-times pos-abs card-badge-left icon small-icon"></i>
          <img src="/Assets/Hoodies/hoodie6.png" alt="cd-img" class="card-img responsive-img">
        </div>
        <div class="flex-col gap-0-25 m-0-5">
          <h3>Stark Light Blue Hoodie</h3>
          <p class="sm-text">by Kurt Wagner</p>
          <h4>Rs. 500 <span class="text-line-through text-light-weight">Rs. 750</span><span class="primary-text">
              66% Off</span>
          </h4>
        </div>
        <div class="flex-row">
          <button class="btn btn-solid-primary m-0-5 w-100p">
            <i class="fas fa-shopping-cart mr-0-25"></i>
            Move To Cart
          </button>
        </div>
      </div>

      <div class="card m-1 mw-16r">
        <div class="pos-rel">
          <i class="fa fa-times pos-abs card-badge-left icon small-icon"></i>
          <img src="/Assets/Hoodies/hoodie1.png" alt="cd-img" class="card-img responsive-img">
        </div>
        <div class="flex-col gap-0-25 m-0-5">
          <h3>Stark Light Blue Hoodie</h3>
          <p class="sm-text">by Kurt Wagner</p>
          <h4>Rs. 500 <span class="text-line-through text-light-weight">Rs. 750</span><span class="primary-text">
              66% Off</span>
          </h4>
        </div>
        <div class="flex-row">
          <button class="btn btn-solid-primary m-0-5 w-100p">
            <i class="fas fa-shopping-cart mr-0-25"></i>
            Move To Cart
          </button>
        </div>
      </div>



      <div class="card m-1 mw-16r">
        <div class="pos-rel">
          <i class="fa fa-times pos-abs card-badge-left icon small-icon"></i>
          <img src="/Assets/Hoodies/hoodie3.png" alt="cd-img" class="card-img responsive-img">
        </div>
        <div class="flex-col gap-0-25 m-0-5">
          <h3>Stark Light Blue Hoodie</h3>
          <p class="sm-text">by Kurt Wagner</p>
          <h4>Rs. 500 <span class="text-line-through text-light-weight">Rs. 750</span><span class="primary-text">
              66% Off</span>
          </h4>
        </div>
        <div class="flex-row">
          <button class="btn btn-solid-primary m-0-5 w-100p">
            <i class="fas fa-shopping-cart mr-0-25"></i>
            Move To Cart
          </button>
        </div>
      </div>

      <div class="card m-1 mw-16r">
        <div class="pos-rel">
          <span class="pos-abs card-badge-right square-badge sm-text">New</span>
          <i class="fa fa-times pos-abs card-badge-left icon small-icon"></i>
          <img src="/Assets/Hoodies/hoodie4.png" alt="cd-img" class="card-img responsive-img">
        </div>
        <div class="flex-col gap-0-25 m-0-5">
          <h3>Stark Light Blue Hoodie</h3>
          <p class="sm-text">by Kurt Wagner</p>
          <h4>Rs. 500 <span class="text-line-through text-light-weight">Rs. 750</span><span class="primary-text">
              66% Off</span>
          </h4>
        </div>
        <div class="flex-row">
          <button class="btn btn-solid-primary w-100p m-0-5">
            <i class="fas fa-shopping-cart mr-0-25"></i>
            Move To Cart
          </button>
        </div>
      </div>

      <div class="card m-1 mw-16r">
        <div class="pos-rel">
          <i class="fa fa-times pos-abs card-badge-left icon small-icon"></i>
          <img src="/Assets/Hoodies/hoodie5.png" alt="cd-img" class="card-img responsive-img">
        </div>
        <div class="flex-col gap-0-25 m-0-5">
          <h3>Stark Light Blue Hoodie</h3>
          <p class="sm-text">by Kurt Wagner</p>
          <h4>Rs. 500 <span class="text-line-through text-light-weight">Rs. 750</span><span class="primary-text">
              66% Off</span>
          </h4>
        </div>
        <div class="flex-row">
          <button class="btn btn-solid-primary m-0-5 w-100p">
            <i class="fas fa-shopping-cart mr-0-25"></i>
            Move To Cart
          </button>
        </div>
      </div>


    </div>
  </main>


</body>

</html>