/* reset css */
* {
  box-sizing: border-box;
  color: var(--black);
}

/* link css */
.hover-underline:hover {
  text-decoration: underline var(--primary-color) 2px;
}

/* input */
.input::placeholder {
  opacity: 0.6;
}

/* text utilities */
.green-text {
  color: var(--green);
}

.red-text {
  color: var(--red);
}
